.RecPlayer {
  position: relative;
  overflow: hidden;
}

.RecPlayer-player-container {
  width: 100%;
  height: 100%;
}

.RecPlayer-fullscreen .RecPlayer-player-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.RecPlayer-controls-button img {
  width: 15px;
  height: 15px;
  display: block;
}

.RecPlayer:hover .RecPlayer-controls {
  transition-delay: 0s;
}

.RecPlayer-controls {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  opacity: 0;
  transition-delay: 1s;
}

.RecPlayer-player-container:hover .RecPlayer-controls,
.RecPlayer-player-container:focus .RecPlayer-controls,
.RecPlayer-progressBar-drag .RecPlayer-controls {
  opacity: 1;
}

.RecPlayer-controls-button {
  padding: 12px;
  float: left;
  cursor: pointer;
}

.RecPlayer-controls-progress-bar {
  user-select: none;
  padding-top: 5px;
}

.RecPlayer-controls-progress-bar:hover {
  cursor: pointer;
}

.RecPlayer-controls-progress-bar-background {
  height: 4px;
  background: #3a3a3a;
  overflow: hidden;
}

.RecPlayer-controls-progress-bar-progress {
  background: #fff;
  height: 100%;
  width: 0;
}

.RecPlayer-controls-button-fullscreen {
  float: right;
}

.RecPlayer canvas {
  display: block;
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
.RecPlayer-controls-timestamp {
  padding: 0;
  line-height: 2.4rem;
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  float: left;
}

.RecPlayer-controls-bottom-row {
  background: #212121;
  overflow: hidden;
  z-index: 9;
}
