.RecPlayer {
  position: relative;
  overflow: hidden;
}

.RecPlayer-player-container {
  width: 100%;
  height: 100%;
}

.RecPlayer-fullscreen .RecPlayer-player-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.RecPlayer-controls-button img {
  width: 15px;
  height: 15px;
  display: block;
}

.RecPlayer-controls {
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100%;
  transition: all 0.5s;
}

.RecPlayer-player-container:hover .RecPlayer-controls {
  background: rgba(0, 0, 0, 0.5);
}

.RecPlayer-controls-button {
  padding: 12px;
  float: left;
  cursor: pointer;
}

.RecPlayer-controls-progress-bar {
  padding: 2px 0;
  margin: 10px 40px;
  user-select: none;
}

.RecPlayer-controls-progress-bar-background {
  margin: 5px 0;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.RecPlayer-controls-progress-bar-progress {
  background: #fff;
  height: 100%;
  width: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
.RecPlayer-controls-text {
  padding: 12px;
  font-size: 0.8rem;
  line-height: 0.9rem;
  float: left;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
}

.RecPlayer-controls-button-fullscreen {
  float: right;
}

.RecPlayer canvas {
  display: block;
}
